@font-face {  
    font-family: Lato-bold;  
    src: url(../fonts/Lato-Bold.ttf);
   }
 @font-face{
    font-family: Lato-medium;  
    src: url(../fonts/Lato-Medium.ttf);  
   }

@font-face{
    font-family: Lato-regular;  
    src: url(../fonts/Lato-Regular.ttf);
   }

 @font-face{
    font-family: Lato-light;  
    src: url(../fonts/Lato-Light.ttf);
   }

header{
    height: 95px;
    z-index: 1020; 
    background-color: rgb(250, 250, 250);
}

.header {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	transition: all .3s ease;
}
.header.out {
	transform: translateY(-100%);
}

.logo{
    height: 75px;
    width: 240px;
    margin-top: 7px;
}

nav{
    margin-top: 11px;
   
}

nav a{
    color: #414042;
    margin-left: 30px;
    font-size: 15px;
    font-family: Lato-bold;  
}

a:hover{
    color: black;
}

.main-info{
    margin-top: 95px;
  height: 500px;
  background-image: url(../images/main-pic-min.png);
  background-size: 100%;
}

.first-header{
    color: rgb(19, 81, 238);
    font-size: 35px;
    font-family: Lato-bold;
    margin-top: 70px;
    margin-left: 20px;
}

.main-descp{
    margin-top: 50px;
    font-size: 20px;
    font-family: Lato-medium;
    color: rgb(0, 178, 238);
    margin-left: 70px;
}
  
.cars{
    height:auto;
}

.second-header{
   margin-top: 70px;
   font-size: 23pt;
   font-family: Lato-bold;
  margin-left: 50%;
  transform: translateX(-50%);
}

.car-item{
    margin-top: 70px;
    padding: 0px;
    margin-left: 30px;
    height: 440px;
    width: 350px;
    max-width: 350px;
    background-color: rgb(245, 245, 245);
}

.car-item:first-child{
    margin-left: 0px;
}

.car-item:nth-child(4){
    margin-left: 0px;
}

.car-img{
    height: 250px;
    width: 350px;
    background-size: 100%;
}

.car-header{
    margin-top: 20px;
    margin-left: 40px;
    font-family: Lato-bold;
    font-size: 17pt;
}

.car-description{
    margin-top: 25px;
    margin-left: 40px;
    font-size: 13pt;
    font-family: Lato-light;
    color: #414042;
}

.details{
   margin-top: 70px;
   margin-left: 40px;
   font-family: Lato-medium;
   font-size: 13pt;
   color: #414042;
}

.lf{
    margin-left: 0px;
}

.all-cars{
    margin-top: 50px;
    padding-top: 6px;
    margin-bottom: 60px;
    height: 50px;
    width: 170px;
    background-color: white;
    border: 2px solid gray;
    font-size: 16pt;
    font-family: Lato-medium;
    color: gray;
    text-align: center;
    margin-left: -3%;

}

.all-cars:hover{
    background-color: rgb(220, 220, 220);
}

.have-question{
    height: auto;
    background: linear-gradient(to bottom, rgb(210,210,210), rgb(250,250,250));
}

.p-first{
    font-family: Lato-bold;
    margin-top: 70px;
    color: rgb(105, 105, 105);
    font-size: 23pt;
}

.p-second{
    font-family: Lato-bold;
    color: black;
    font-size: 40pt;
}

.p-third{
    font-family: Lato-bold;
    color: rgb(105, 105, 105);
    font-size: 23pt;
    margin-bottom: 60px;
}




footer{
    height: 400px;
    background-color: black;
}

footer h4{
    color: white;
    font-size: 17pt;
    font-family: Lato-medium;
    margin-top: 80px;
}
footer p{
    
    font-family: Lato=regular;
    font-size: 13pt;
    color: white;
    margin-top: 50px;
}

.pre{
    white-space: pre;
}

.marg-l-40{
    margin-left: 100px;
}

.f{
    color: white;
}


@media (min-width: 992px) and (max-width: 1199px) {

    .p-second{
        
        font-size: 37pt;
    }

    .p-first{
        font-size: 20pt;
    }

    .p-third{
        font-size: 20pt;
    }

     .car-item{
        margin-left: 35px;
    }
    .second-header{
        font-size: 20pt;
    }

    .lrm{
        margin-left: 60px;
    }

    .first-header{
        margin-left: 0px;
        font-size: 33px;
    }
    
    nav a{
        margin-left: 18px;
    }

    .car-item:nth-child(odd){
        margin-left: 100px;
    }
    
}



@media (min-width: 768px) and (max-width: 991px) {
   header{
       height: 150px;
   }
    
   nav{
       margin-top: 25px;
   }
   nav a{
       margin-left: 25px;
       font-size: 18px;
   }

   .logo{
        margin-left: 50%;
       transform: translateX(-50%);
   }

   .first-header{
    font-size: 32px;
    margin-left: 340px;
    margin-top: 100px;
}

.main-descp{
    margin-top: 50px;
    font-size: 20px;
    margin-left: 340px;
}

.main-info{
  height: 580px;
}

.car-item{
    margin-left: 10px;
    height: 450px;
}

.second-header{
    margin-left: 35%;
}

.all-cars{
    width: 250px;
}

.details{
    font-size: 15pt;
}

.car-description{
    font-size: 15pt;

}

.p-first{
    margin-left: 27%;
}

.p-third{
    margin-left: 36%;
}

.p-second{
    margin-left: 12%;
}

footer{
    height: auto;
}

footer p{
    font-size: 16pt;
}

.marg-l-40{
    margin-left: 0px;
}

footer h4{
    margin-left: 0px;
}
}

@media  (max-width: 767px) {
    header{
        height: 180px;
    }
     
    nav{
        margin-top: 25px;
    }
    nav a{
        margin-left: 65px;
        font-size: 18px;
    }
    nav a:last-child{
        padding-top: 30px;
        margin-left: 81px;
        font-size: 18px;
    }
 
    .logo{
         margin-left: 50%;
        transform: translateX(-50%);
    }

    .main-info{
        height: 600px;
        margin-top: 125px;
      background-image: none;
      background-color: #292929;
    }

    .first-header{
        margin-top: 90px;
        margin-left: 18%;
    }

    .main-descp{
        margin-top: 40px;
        font-size: 25px;
        margin-left: 10%;
    }

    .car-item{
        margin-left: 17%;
        height: 470px;
    }
    
    .second-header{
        margin-left: 27%;
    }
       
    .details{
        font-size: 17pt;
    }
    
    .car-description{
        font-size: 17pt;
    
    }

    .all-cars{
        width: 200px;
        margin-left: 0px;
    }

    .p-first{
        margin-left: 17%;
    }

    .p-third{
        margin-left: 29%;
    }

    footer{
        height: auto;
    }

    footer p{
        font-size: 16pt;
    }
    
    .marg-l-40{
        margin-left: 0px;
    }
    
    footer h4{
        margin-left: 0px;
    }
    
}

.contact{
    height: 700px;
}

h2{
    font-size: 17pt;
    font-family: Lato-bold;
    margin-top: 40px;
    margin-left: 20px;
}

.contact-input{
    background-color: rgb(240, 240, 240);
    width: 400px;
    height: 40px;
    font-size: 13pt;
    font-family: Lato-medium;
    border: 0;
    margin-top: 30px;
    margin-left: 20px;
    outline: none;
    text-indent: 5px;
}

.msg-input{
    height: 180px;
    margin-top: 105px;
    width: 630px;
    font-size: 13pt;
    font-family: Lato-medium;
    border: 1px solid #3d72a4;
    padding-left: 5px;
    resize: none;
}

.msg-input::placeholder{
    color: rgb(65,64,66);
}

.msg-input:focus{
   
    outline: none !important;
}

.send-msg{
    height: 50px;
    width: 170px;
    background-color: #3d72a4;
    color: white;
    font-size: 17pt;
    font-family: Lato-bold;
    text-align: center;
    padding-top: 6px;
    margin-top: 20px;
    margin-left: 80px;
    
}

.send-msg:hover{
    background-color: #0e52bf;
    color: white;
    text-decoration: none;
}

hr{
    width: 100%;
    margin-top: 25px;
    color: rgb(65,64,66);
}

.p-info{
    margin-left: 20px;
    font-family: Lato-regular;
    font-size: 12pt;
    margin-top: 20px;
}

.order{
    height: 600px;
    margin-top: 95px;
}

select{
    background-color: rgb(240, 240, 240);
    width: 400px;
    height: 40px;
    font-size: 13pt;
    font-family: Lato-medium;
    border: 0;
    margin-top: 30px;
    margin-left: 20px;
    text-indent: 5px;
    color: rgb(137, 117, 117);
}

option{  
    font-size: 13pt;
    font-family: Lato-medium;
}

.send-order{
    height: 50px;
    width: 170px;
    background-color: #3d72a4;
    color: white;
    font-size: 17pt;
    font-family: Lato-bold;
    text-align: center;
    padding-top: 6px;
    margin-top: 50px;
    margin-left: 60px;
}

.send-order:hover{
    color: white;
    text-decoration: none;
}

.properties{
    margin-top: 40px;
}

.prop-val{
    display: inline-block;
    font-size: 13pt;
    font-family: Lato-light;
    color: #414042;
    margin-left: 30px;
}

.prop-val:first-child{
    margin-left: 0px;
}

.fa{
    color: rgb(19, 81, 238);
}



 